{% load static %}
{% load i18n %}

<section class="mt-3" id="about-clinic">
    <div class="section_header d-flex align-items-center mt-4">
        <span class="line line-small"></span>
        <h3 class="section_title mx-3 d-flex flex-wrap flex-md-nowrap"><span class="text-green">ПРО</span><span
                class="mx-2">-</span><span>КЛІНІКУ</span></h3>
        <span class="line line-large"></span>
    </div>
    <div class="w-100">
        <div class="row g-0 justify-content-center">
            <div class="col-12 col-sm-8 col-md-8 col-lg-4 d-flex align-items-end">
                <img src="{{ about_clinic.image_left.url }}" class="w-100" alt="about_clinic">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8  d-flex flex-column align-items-center align-items-lg-end">
                <p class="description_about text-end d-flex flex-column align-items-end pt-4">
                    <span class="w-100 mt-4 mb-5">{{ about_clinic.title_1 }}</span>
                    <span>{{ about_clinic.description_small }}</span>
                </p>
                <div class="mt-4 me-0 me-sm-0 me-lg-4 me-xl-5 d-flex flex-column align-items-center"
                     style="max-width: max-content;">
                    <div>
                        <h3 class="three_title text-end">
                            <span class="title_line">це</span>
                            <span class="content_title_second text-green"> ZDRAVO - </span>
                            <span class="title_line">коли немає черг</span>
                        </h3>
                    </div>
                    <div class="d-flex justify-content-end me-0 pb-4">
                        <div class="button_bottom_block d-flex justify-content-between flex-wrap align-items-center mt-3">
                            <button class="primary_button text-decoration-none border-0 outline-0"
                                    data-bs-toggle="modal"
                                    data-bs-target="#Consult_form_modal">Онлайн-запис
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div class="gray_section py-4 px-5 h-100" style="z-index: 8;">
                    <h1 class="text-center about_section_title">{{ about_clinic.title_2 }}</h1>
                    <p class="about_section_description description_about text-center mt-3">{{ about_clinic.subtitle }}</p>
                    <div class="about_section_content">
                        {{ about_clinic.description_about.html|safe }}
                    </div>
                </div>
            </div>
            <div
                    class="col-12 col-sm-8 col-md-8 col-lg-5 d-flex flex-column align-items-center justify-content-end position-relative"
                    style="z-index: 10;">
                <img src="{% static '/images/Frame_min.svg' %}" class="frame_min frame_gray_section" alt="">
                <img src="{% static '/images/logo.svg' %}" class="logo_section my-5" alt="logo">
                <img src="{{ about_clinic.image_right.url }}" class="w-100" alt="about_clinic">
            </div>
        </div>
    </div>
</section>